*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: linear-gradient(to right, #4facfe, #00f2fe);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1{
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
}

form{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input{
    padding: 12px;
    width: 250px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
}

button{
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    background-color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

button:hover{
    background-color: #f0f0f0;
}

.weather{
    width: 500px;
    background: rgba(255,255,255,0.2);
    padding: 25px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    color: white;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.left h2{
    font-size: 60px;
}

.left h3{
    font-size: 28px;
    margin-top: 10px;
}

.right{
    text-align: center;
}

.icon img{
    width: 100px;
    height: 100px;
}

.condition p{
    font-size: 18px;
    margin-top: 5px;
}